@model ClaysysOnlineQuizTest.Models.Topic

@{
    ViewBag.Title = "Remove Topic";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<h2>Remove Topic</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <label>Topic Name:</label>
        <input type="text" name="topicName" />
        <span>@Html.ValidationMessage("topicName")</span>
    </div>

    <button type="submit">Delete Topic</button>
}
