@{
    ViewBag.Title = "About";
}
<link href="~/Content/CustomCss/Home/AboutUs.css" rel="stylesheet" />
@{
    ViewBag.Title = "About";
}
<link href="~/Content/CustomCss/Home/AboutUs.css" rel="stylesheet" />
<main>
    <section class="about-section">
        <section class="about-us">
            <img class="about-image " src="~/Content/images/aboutus.jpg" />
            <h1>About Us</h1>
            <p>
                This application helps users assess their knowledge in specific topics and improve it by taking daily tests, fostering continuous learning and skill enhancement.
            </p>
            <p>
                ClaySys specializes in delivering <span class="orange">IT solutions</span> that positively impact businesses. We focus on aligning our technical implementation with key business objectives throughout the project.
            </p>

            <p>
                ClaySys actively hires students and provides a <span class="orange">one-month training</span> program. During this training, participants will be assigned mini tasks to complete, helping them build practical skills. After the training period, students will be assigned projects to work on, enabling them to apply what they have learned and <span class="orange">gain real-world experience</span>.
            </p>

            <p>
                We emphasize a partnership model and build long-term relationships with clients. By retaining key employees, we ensure quality support and avoid disruptions caused by turnover.
            </p>


            <p>
                Our expertise in .NET Core allows us to create scalable and secure applications tailored to specific needs, ensuring best practices in API design for maintainability.
            </p>
            <p>
                We focus on delivering technology solutions that meet business objectives. Our key-employee retention policies enhance our understanding of client needs and provide incremental value.
            </p>


        </section>
    </section>
</main>


