@{
    ViewBag.Title = "ClaySys Quiz Application";
  
}
<link href="~/Content/CustomCss/Home/HomeIndex.css" rel="stylesheet" />
<main>
    <div>
        <div>
            <span class="orange">  ClaySys Training Test,</span> A Comprehensive Assessment for Training Students
        </div>
        <div>This test is designed to evaluate the knowledge and skills acquired by students during their training with <span class="orange">ClaySys</span> . It offers a thorough assessment to help identify strengths and areas for improvement, ensuring each student is fully prepared for real-world applications. The test covers a range of topics and includes <span class="orange">practical exercises</span> that reinforce the essential concepts taught throughout the training program.</div>
        <div>
           
            <button><a href="@Url.Action("Login","Login")">Start Test</a></button>
        </div>

    </div>
    <div>
        <img src="~/Content/images/homehero.png"/>
    </div>
</main>
